body {
	background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614399717_22-p-temnii-fon-dlya-shapki-yutub-23.png');
}

h1 {
	margin: auto;
	text-transform: uppercase;
	color: antiquewhite;
}

p {
	color: antiquewhite;
}

a {
}

.startPage {
	height: 150px;
	width: 200px;
    position: absolute;
    top: 30%;
    left: 45%;
}

.signInPage {
	height: 15%;
	width: 225px;
    position: absolute;
    top: 30%;
    left: 45%;
}

.signInWrapper {
	width: 100%;
	height: 50%;
	display: flex;
	background-color: antiquewhite;
	border-radius: 15px;
}

.signUpWrapper {
	margin-top: 10%;
	width: 100%;
	height: 50%;
	display: flex;
	background-color: antiquewhite;
	border-radius: 15px;
}

.signInLink {
	margin: auto;
}

.signUpLink {
	margin: auto;
}

.home {
	width: 70px;
	height: 70px;
	display: flex;
	background-size: contain;
	border-radius: 15px;
}

.homeWrapper {
	margin: auto;
}

.registrationWrapper {
	margin-top: 10%;
	padding: 15%;
	width: 93%;
	height: 70%;
	display: flex;
	background-color: antiquewhite;
	border-radius: 15px;
	align-items: center;
	align-content: center;
}

.authWrapper {
	margin-top: 10%;
	padding: 15%;
	width: 100%;
	height: 50%;
	display: flex;
	background-color: antiquewhite;
	border-radius: 15px;
	align-items: center;
	align-content: center;
}

.registrationLink {
	color: antiquewhite;
	padding-left: 50%;
}

.authLink{
	color: antiquewhite;
	padding-left: 40%;
}